{% extends 'base.html' %}

{% block title %}Clientes sin Pagos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Clientes sin Pagos</h2>
    <form method="get" class="mb-3 d-flex">
        <input type="text" name="q" class="form-control me-2" placeholder="Buscar por nombre, apellido o RUT" value="{{ query }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
      

    <table class="table table-striped">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.rut }}</td>
                <td>{{ cliente.nombre_completo }}</td>
                <td>{{ cliente.correo|default:"-" }}</td>
                <td>{{ cliente.telefono|default:"-" }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Todos los clientes tienen pagos.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page_obj.has_other_pages %}
<nav aria-label="Paginación">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Anterior</span>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Siguiente</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

</div>
{% endblock %}
