{% extends "base.html" %}

{% block title %}Eliminar Plan{% endblock %}

{% block header %}Eliminar Plan{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center mb-4">¿Estás seguro de que deseas eliminar este plan?</h3>
    <div class="card shadow">
        <div class="card-body text-center">
            <p><strong>Categoría:</strong> {{ plan.categoria }}</p>
            <p><strong>Descripción:</strong> {{ plan.descripcion }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'listar_planes_admin' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
